body {
    color: white;
    background: black;
text-align: center;

}
section {
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 700px;
    margin:auto;
    height: 50vh;
}

.usuario{
    width: 160px;
    
}

.usuario p{
    font-family: 'IBM Plex Sans', sans-serif;
    font-weight: 600;
    margin-top: 10px;
    color: #9C9C9C;
}

.usuario:hover img{
    transform: scale(1.2);
    transition: 1s;
    border: 1px solid white;
}
.img{
    overflow: hidden;
    height: 160px;
    border-radius: 15px;
}

.botao{
    padding: 15px;
    color:white;
    background-color: black;
    border: 1.5px solid #FFFFFF;
    border-radius: 8px;
    font-family: 'IBM Plex Sans', sans-serif;
    font-weight: 500;
}
h1{
    font-family: 'IBM Plex Sans', sans-serif;
    font-weight: 600;
    margin-top: 70px;
}